fastapi
uvicorn[standard]
pydantic
sqlalchemy
# psycopg2-binary (Not needed for local SQLite)
alembic
python-dotenv
httpx
# redis (Not needed for local SQLite)
apscheduler
langchain-core
openai
# pgvector (Not needed for local SQLite)
jinja2
google-genai
python-multipart
